<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @student.number %>
</p>

<p>
  <strong>Sections:</strong>
  <ol>
    <% @student.sections.each do |section| %>
      <li> <%= section.to_s %></li>
    <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
