<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @course.dept %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Credithr:</strong>
  <%= @course.creditHr %>
</p>

<p>
  <strong>Sections:</strong>
  <ol>
  <% @course.sections.each do |section| %>
      <li> Number: <%= section.number %>
  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
